.List {
    display: block;
    overflow: scroll;
    white-space: nowrap;  
    overflow-x: hidden;
    color:white;
    margin-right: 15%;
    margin-left: 15%;
}


.List > div
{
    display: inline-block;
    width:30%;
    
 
    
  
}
.background{
    background-color: black;
}
.mainList {
    position: relative;
}

.btn-danger {
    position: absolute;
    top: 90%;
    margin-left: -46px;
    display: none !important; 
    width: 100px;
}
.btn-success {
    position: absolute;
    top: 90%;
    display: none !important; 
    width: 100px;
    margin-left: -46px;
}
 .hoverButton {
    
     top:50%;
     margin: 0 auto;
     margin-top: -15px;
     width: 100px;
}
.hoverButton:hover {
    display: inline !important;
}
.movieImage {
    width : 250px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.movieImage:hover > .btn-danger {
    display: inline-block !important;
}
.movieImage:hover > .btn-success {
    display: inline-block !important;
}

.image{
    width: 50px;

    
     float: left !important;
  
}
.navbar{
    margin-top: 10px;
    margin-bottom: -21px;
}

.text{
    margin: 0 auto;
    color:white;
    font-family: initial;
}

.headings{

    padding-top: 20px;
    
    padding-bottom: 10px;
 
    
     text-align: left;
     margin-top: 15px;
     margin-left: 12px;
     color: white;
     font-family: initial;
   

}
.container {
    height: 350px;
    position: relative;
    align-items: center;
}
.container:hover > div > .btn-danger {
    display: inline-block !important;
}
.container:hover > div > .btn-success {
    display: inline-block !important;
}

.container + div {
    margin-left: -7%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-size: 50px;
  }
  .prev {
      left: 1%;
  }
  .next {
      right: 1%;
  }
  .title{
      margin-right:5px;
      font-family: initial
  }
  